@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-serif: var(--font-merriweather);
}

:root {
  --background: #FDFCF7;
  --foreground: #2C2C2C;
}

:root.dark {
  --background: #121211;
  --foreground: #E2E2E2;
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background 0.3s, color 0.3s;
}
